.page{
	width: 100%;
	height: 2000px;
	background: #DCDBDA;
	border: 1px solid black;
	
}
.top{
	width: 960px;
	height: 85px;
	background: #7C7F79;
	margin: auto;
	margin-top: 25px;
	padding-top:5px;
	/*overflow: hidden;*/
	position: relative;
}
.top-inner{
	width: 948px;
	height: 80px;
	background: #7C7F79;
	margin: auto;
	border: 1px dotted gainsboro;
	border-bottom: none;
}
.top-right{
	margin-top: 30px;
	float: right;
	position: relative;
}
.top-right li{
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-right: 1px solid darkgray;
	float: right;
	transition: all 0.1s;
}
.top-right .zhe>a{
	text-decoration: none;
	color: #dedfdc;
}
.top-right .zhe>a:hover{
	text-decoration: none;
	color: #dedfdc;
}
.top-right .zhe:hover{
	text-shadow: none;
}
.top-right li:hover{
	text-shadow: 2px 2px 5px red;
}
.top-right li:first-child{
	border: none;
}
.top-right li>a{
	text-decoration: none;
	color: #dedfdc;
	transition: all 0.1s;
}
.top-right li>a:hover{
	color: white;
}

.decoration{
	border: 1px solid #dedfdc;
	height: 0px;
	width: 38px;
	position: absolute;
	top: 30px;
	left: 9px;
}
.top-tip{
	width: 234px;
	height: 63px;
	position: absolute;
	top:15px;
	left: -24px;
	background: rgba(36,85,84,0.75);
}
.tip-inner{
	height: 60px;
	width: 200px;
	float: right;
	position: relative;
}
.tip-inner span{
	position: absolute;
	top: 30px;
	left: 10px;
	color: white;
	text-shadow: 2px 2px 5px darkolivegreen;
}
.tip-inner ul{
	margin-top: 5px;
}
.tip-inner>ul li{
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border-right: 1px solid darkgray;
	float: left;
	transition: all 0.1s;
	
}
.tip-inner>ul li:hover{
	text-shadow: 2px 2px 5px red;
}
.tip-inner>ul li a{
	text-decoration: none;
	color: #dedfdc;
	transition: all 0.1s;
}
.tip-inner>ul li a:hover{
	color: white;
}
.show{
	width: 960px;
	height: 251px;
	margin: auto;
}
.show-left{
	width: 430px;
	height: 251px;
	float: left;
	background: #ADB0A9;
}
.show-right{
	width: 530px;
	height: 251px;
	float: right;
	background: #dedfdc;
	padding: 30px;
	
	/*position: relative;*/
}

#carousel-example-generic{
	width: 500px;
	height: 250px;
	/*position: absolute;
	top: -28px;
	left: -510px;*/
}
.content{
	width: 960px;
	height: 500px;
	border: 1px solid black;
	margin: auto;
}
