<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<a href="/applyservice">申报维修项目</a>
		<br />
		<a href="/viewservice">查看报修项目</a>
		<br />
		<a href="/maservice">管理维修项目</a>
		<br />
		<a href="/">返回</a>
		<!--<table border="" cellspacing="" cellpadding="">
			<tr>
				<th>服务序号</th>
				<th>保修项目</th>
				<th>内容描述</th>
				<th>楼号</th>
				<th>单元</th>
				<th>房间</th>
				<th>报修人</th>
				<th>联系方式</th>
			</tr>
		</table>-->
		
		
		
	</body>
</html>
